{% extends 'base.twig' %}

{% block head %}{% endblock %}

{% block body %}
    <p>Please select your seats for this booking.</p>
    <p>Please note you can only book between 1 and 5 seats.</p>
    <p>To delete a certain booking, type URL /delete/:booking_id</p>
    <p>To View bookings with booking id's with type URL /get</p>
    <p>We can also disable seats - get /config</p>
    <div>
        <h2>Front of train</h2>
        <div class="train-booking"></div>
        <button class="train-booking_submit" type="submit">Book tickets</button>
    </div>
{% endblock %}

{% block bodyLast %}
    <script type="text/javascript">
        require({
            "paths": {
                "TrainBooking": '/assets/js/TrainBooking'
            }
        });
        require(['TrainBooking'], function(TrainBooking) {
            var options = {};
            var tb = new TrainBooking(options);
        });
    </script>
    {% include "index.hbs.twig" %}
{% endblock %}

